/*  Navbar font */
/* @import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&family=Lobster&family=Poppins:wght@400;500&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&family=Lobster&family=Poppins:wght@400;500&family=Tsukimi+Rounded:wght@400;500&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header{
    /* font-family: 'IBM Plex Sans', sans-serif;
font-family: 'Lobster', cursive;
font-family: 'Poppins', sans-serif; */

font-family: 'IBM Plex Sans', sans-serif;
font-family: 'Lobster', cursive;
font-family: 'Poppins', sans-serif;
font-family: 'Tsukimi Rounded', sans-serif;


text-align: center;
height: 10vh;
width: 100%;
background-color: #08479e !important;
}
div.logo{
 display: flex;
 flex-direction: row;
 align-items: center;
 justify-content: center;
 padding-top: 5px;
}
div.logo p{
    font-size: 30px;
    color: #ffffff;
font-variant:normal;
font-weight: 500;
}


/*  main section  */ 

main{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
    width: 100%;
    height: 90vh;
    /* background:linear-gradient(#1d84d8,#2fa5ca) ; */
    background: linear-gradient(340deg, #2ca1cb 30%, #1779db 58%);
    overflow-x: auto;
display: flex;
flex-direction: row;
}

.board{
    display: flex;
    flex-direction: row;
    gap: 1em;
    margin-top: 40px;
    margin-left: 30px;
}

.list1,.list2,.list3 {
    border: none;
    outline: none;
    background: #f1f2f4;
    width: 20rem;
    height: 5.8rem;
    border-radius: 10px;
    overflow: auto; /*  for the scroll with in every list */ 
  }

  
/*  for scrool bar */
.list1,.list2,.list3 {
    scrollbar-color: #c5c9d1; /* Change the scroll bar color to white */
    scrollbar-width: 10px; /* Set the width of the scroll bar to 10px */
  }
  
  .list1::-webkit-scrollbar,   /* by using this method we can select multiply elemensts for pseudoelemests */
  .list2::-webkit-scrollbar,
  .list3::-webkit-scrollbar {
    width: 10px; /* Set the width of the scroll bar to 10px */
  }
  
  .list1::-webkit-scrollbar-thumb,
  .list2::-webkit-scrollbar-thumb,
  .list3::-webkit-scrollbar-thumb {
    background-color: #c5c9d1; /* Change the color of the scroll bar thumb */
  }
  .Addtitle1,
  .Addtitle2,
  .Addtitle3 {
    position: sticky; /* so that the title should stick */
    top: 0;
    z-index: 1;
    margin-left: 10px;
    margin-top: 10px;
    width: 18rem;
    height: 30px;
    background: #f1f2f4;
    border: none;
    outline: none;
    color: #000000;
    font-size: 1rem;
    font-weight: 550;
    cursor: text;
    transition: border-color 0.1s, border-radius 0.1s, background-color 0.1s;
  }
  
  .Addtitle1:focus,
  .Addtitle1:hover,
  .Addtitle2:focus,
  .Addtitle2:hover,
  .Addtitle3:focus,
  .Addtitle3:hover {     /*  so that when user focus it the bordere should display */
    border: 2px solid #003bfc;
    border-radius: 5px;
    background-color: #ffffff;
  }
  
.AddaCard,.AddaCard2,.AddaCard3 {
    margin-left: 10px;
    margin-bottom: 8px;
    width: 16.5rem;
    height: 30px;
    background: #f1f2f4;
    border: none;
    outline: none;
    border-radius: 7px;
    cursor: pointer;
    text-align: left;
    padding-left: 27px;
    margin-top: 15px;
    color: #000000;
    font-size: 15px;
    font-weight: 100;
  }
  
.AddaCard:hover,
.AddaCard2:hover,
.AddaCard3:hover{
    background-color: #bfc2c9;   /* so that the color of button should change */ 
}
 
  
/*  media query */

/* 
@media all and (max-height:1440px) and (min-height:670px){
    
  .board{
    display: flex;
    flex-direction: row;
    gap: 150px;
    margin-top: 40px;
    margin-left: 30px;
}

.list1,
.list2,
.list3 {
    border: none;
    outline: none;
    background: #f1f2f4;
    width: 20rem;
    height: 12vh;
    border-radius: 10px;
    overflow: auto;
  }
  
}
@media all and (max-height:1660px) and (min-height:1440px){
    
    .board{
      display: flex;
      flex-direction: row;
      gap: 155px;
      margin-top: 40px;
      margin-left: 30px;
  }
  
  .list1,
  .list2,
  .list3 {
      border: none;
      outline: none;
      background: #f1f2f4;
      width: 20rem;
      height: 8vh;
      border-radius: 10px;
      overflow: auto;
    }
    
  }
  @media all and (max-height:1900px) and (min-height:1660px){
    
    .board{
      display: flex;
      flex-direction: row;
      gap: 160px;
      margin-top: 40px;
      margin-left: 30px;
  }
  
  .list1,
  .list2,
  .list3 {
      border: none;
      outline: none;
      background: #f1f2f4;
      width: 20rem;
      height: 3vh;
      border-radius: 10px;
      overflow: auto;
    }
    
  }
 */





